* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  padding: 50px;
}

.main-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.image-gallery,
.content-side {
  display: inline-block;
  width: 45%;
  vertical-align: top;
}

.image-gallery {
  margin-right: 90px;
}

.image-gallery img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 25px;
}

.img-top {
  max-width: 483px;
}

.img-middle {
  max-width: 446px;
  margin-left: auto;
}

.img-bottom {
  max-width: 458px;
}

.subtitle {
  font-family: "Open Sans", sans-serif;
  color: #2e7af4;
  font-size: 20px;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}

.heading {
  font-family: "Lato", sans-serif;
  font-size: 50px;
  color: #000000;
  line-height: 100%;
  margin-bottom: 39px;
  font-weight: 800;
}

.circled-text {
  color: #2563eb;
}

.text-block p {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: #00000080;
  line-height: 35px;
  margin-bottom: 20px;
}
