* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
}

.header {
  padding: 21px 100px;
  background: white;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 40px;
}

.header nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

.header nav ul {
  margin: 0 10px;
  display: flex;
  list-style: none;
  gap: 40px;
}

.header nav ul li a {
  text-decoration: none;
  color: #2e7af4;
  font-size: 18px;
  font-weight: 400;
  transition: 0.3s;
}

.header nav ul li:first-child a {
  font-weight: 700;
}

.register {
  background: #2e7af4;
  font-size: 16px;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.hero {
  position: relative;
  width: 100%;
  height: 806px;
  background-image: url("images/hero.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding-left: 100px;
}

.hero-content {
  max-width: 500px;
}

.subtitle {
  color: #2e7af4;
  font-weight: bold;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

h1 {
  font-size: 72px;
  margin: 15px 0;
  line-height: 1.1;
  color: #000000;
  font-family: "Lato", Arial, sans-serif;
}

.description {
  margin-bottom: 30px;
  color: #000000;
  font-size: 18px;
  line-height: 1.6;
}

.join {
  background: #2e7af4;
  color: white;
  border: none;
  padding: 15px 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Lato", Arial, sans-serif;
}

.dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  display: flex;
  gap: 10px;
  transform: translateX(-50%);
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #d1d1d1;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: #2e7af4;
  width: 23px;
  height: 11px;
  border-radius: 5.5px;
}

.main-container {
  max-width: 1364px;
  width: 100%;
  margin: 0 auto;
}

.image-gallery,
.content-side {
  display: inline-block;
  width: 45%;
  vertical-align: top;
}

.image-gallery {
  margin-right: 90px;
}

.image-gallery img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 25px;
}

.img-top {
  max-width: 483px;
}

.img-middle {
  max-width: 446px;
  margin-left: auto;
}

.img-bottom {
  max-width: 458px;
}

.subtitle {
  font-family: "Open Sans", sans-serif;
  color: #2e7af4;
  font-size: 20px;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}

.heading {
  font-family: "Lato", sans-serif;
  font-size: 50px;
  color: #000000;
  line-height: 100%;
  margin-bottom: 39px;
  font-weight: 800;
}

.circled-text {
  color: #2563eb;
}

.text-block p {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: #00000080;
  line-height: 35px;
  margin-bottom: 20px;

}




@font-face {
    font-family: "Gilroy";
    src: url("fonts/Gilroy-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Gilroy";
    src: url("fonts/Gilroy-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy";
    src: url("fonts/Gilroy-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Gilroy";
    src: url("fonts/Gilroy-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Gilroy";
    src: url("fonts/Gilroy-Heavy.ttf");
    font-weight: 900;
}

.team{
  background-color: #F8F8F8;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 66px ; 
  


  


}


.our-team-container{

  max-width: 800px;
  margin: 0 auto;
}

.team-content{
  margin-bottom: 45px;

  
}


.team-content p {
  /*width: 103px;
  height: 25px;*/
  font-weight:600;
  font-size:20px ;
  font-family: "Open Sans" ,sans-serif;
  
  margin-bottom: 10px;

  letter-spacing: 0%;
  line-height:25px ;
  color:#2E7AF4 ;
}

.team-content h2 {
  /*width:346px ;
  height:62px ;*/
  font-weight:700 ;
  font-size: 50px;
  font-family: "Gilroy", sans-serif;

  
  letter-spacing: 0%;
  line-height:100% ;
  color:#000000 ;
}

.team-members {
   display: flex;
  justify-content: center;
  gap: 25px;


  
}

.team-card {
   width:230px;
  height: 270px;
  background-color: #ffffff;
  border-radius: 8px;
  text-align: center;
  padding-top: 45px;

  
}

.team-card img {
   width: 151.17px;
  height:151.17px;
  border-radius: 50%;
  object-fit: cover;
   object-position: center top;

}
.team-card h3 {
  width:191px ;
  height: 18px;
  font-size:20px ;
  font-family: "Lato" , sans-serif;
  font-weight:700 ;
  color:#555555 ;
  margin-top: 17px;

  line-height:25px ;
  letter-spacing: 0%;

}


.about {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.about p {
  font-size: 20px;
  color: #00000080;
  line-height: 35px;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
}
.about-us-info {
  display: inline-block;
  width: 45%;
  vertical-align: top;
}
.about-us-info span {
  color: #2e7af4;
  font-size: 20px;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
}
.about-us-info h2 {
  font-size: 50px;
  color: #000000;
  line-height: 100%;
  margin-bottom: 39px;
  font-weight: 800;
  font-family: "Lato", sans-serif;
}
.about-us-section {
  padding-block: 229px;
}
.about-us-button {
  width: 244px;
  height: 73px;
  font-weight: 700;
  font-size: 20px;
  background-color: #2e7af4;
  font-family: "Lato", sans-serif;
  border-radius: 4px;
  color: #ffffff;
  margin-top: 56px;
}
.about-us-photo {
  width: 632px;
  height: 745px;
  border-radius: 20px;
  display: inline-block;
  margin-left: 55px;
  object-fit: cover;
}


